{% extends 'base.html' %}
{% block content %}


<body class="p-6 bg-gray-100 w-max-[1400] max-auto mt-8"> 
    <h1 class="text-3xl font-bold mb-4">All Categories</h1>
    <a href="{% url 'category_create' %}" class="bg-blue-600 text-white px-4 py-2 rounded">Add Category</a>
</body>

<table class="w-3/4 mt-4 bg-white shadow rounded"> 
    <tr class="border-b text-3xl items-start bg-gray-50">
        <th class="p-3 text-left">Name</th>
        <th class="p-3">Edit</th>
        <th class="p-3">Delete</th>
    </tr>

    {% for cat in categories %} 
        <tr class="border-b text-2xl items-start-center">
            <td class="p-3">{{cat.name}}</td> 
            <td class="p-3">
                <a href="{% url 'category_update' cat.id%} class="text-blue-600" ">Edid</a> 
            </td>
            <td class="p-3">
                <a href="{% url 'category_delete' cat.id%} class="text-red-600" ">Delete</a>
            </td>
        </tr>
    {% endfor %}

</table>
{% endblock %}
