{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Dashboard</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Bengali:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <style>
      body {
        font-family: "Inter", sans-serif;
      }
    </style>
</head>
<body class="bg-gray-100 font-sans mt-6 p-6 max-w[1400] mx-auto">

    <nav class="bg-lime-400 p-6 rounded shadow flex justify-between">
       <a href="#" class="flex items-center font-bold hover:text-blue-600">
            <span class="text-3xl text-lime-800">D</span>
            <span class="text-3xl text-gray-800">a</span>
            <span class="text-3xl text-gray-800">S</span>
            <span class="text-3xl text-gray-800">h</span>
            <span class="text-3xl text-gray-800">B</span>
            <span class="text-3xl text-gray-800">o</span>
            <span class="text-3xl text-gray-800">A</span>
            <span class="text-3xl text-gray-800">r</span>
            <span class="text-3xl text-gray-800">D</span>
       </a>
            <div class="text-right text-2xl space-x-3">
                <a href="{% url 'event_list' %}" class="text-gray-700 hover:text-green-600">
                    Events<span class="text-4xl ml-2">⌄</span>
                </a>
                <a href="#" class="text-gray-700 hover:text-green-600">
                    Participants<span class="text-4xl ml-2">⌄</span>
                </a>
                <a href="#" class="text-gray-700 hover:text-green-600">
                    Categories<span class="text-4xl ml-2">⌄</span>
                </a>

        </div>
    </nav>

    {% block content %}
    {% endblock %} 

</body>
</html>

       
    
